#map {
    display: block;
    height: 100%;

}

#map-div {
    height: 500px;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 20px;
}

.trash {
    color: #9e1212;
}

#open {
    color: #5cb85c;
}

#closed {
    color: #9e1212;
}

.error {
    color: #e21212;
}
